# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python/JuPyter shit
.ipynb*
*__pycache__*/


# Dataset files
netcdf_converter/*.nc

# datasets
datasets/*.cluster_centres
datasets/*.membership
datasets/*.bin

# artificial datasets
artificial_datasets/*.cluster_centres
artificial_datasets/*.membership
artificial_datasets/*.txt

# candidate datasets
candidate_datasets/*.tar.gz

# access token
access_token.txt